.profile {
  width: 280px;
  padding: 0px;
  box-shadow: 3px 6px 10px -1px rgb(92, 94, 110);
  border-radius: 4px;
}
.avatar {
  width: 90px;
  margin-inline: auto;
  border-radius: 50%;
}

.description {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.name {
  font-weight: 700;
  font-size: 22px;
}

.tag,
.location {
  color: grey;
}

.stats {
  display: flex;
  padding-inline-start: 0px;
  justify-content: center;
  text-align: center;
  margin: 0px;
}
.stats li {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  background-color: rgba(235, 239, 241, 0.932);
  border: 1px solid rgb(220, 220, 220);
  padding-top: 20px;
  padding-bottom: 20px;
}

.stats li:first-child {
  border-radius: 0 0 0 4px;
}

.stats li:last-child {
  border-radius: 0 0 4px 0;
}

.label {
  font-size: 14px;
  color: grey;
  padding-bottom: 4px;
}

.quantity {
  font-weight: 700;
  font-size: 18px;
}
