.transaction_history {
  width: 750px;
  font-size: 16px;
  text-align: center;
  border-collapse: collapse;
  box-shadow: 4px 7px 11px -2px rgba(66, 68, 90, 1);
  padding: 0;
  margin: 0;
}

.transaction_history > thead {
  color: white;
  text-transform: uppercase;
  background-color: rgb(30, 211, 211);
}

.transaction_history > thead > tr > th {
  border: 1px solid lightgrey;
  padding-top: 10px;
  padding-bottom: 10px;
}

.transaction_history > tbody > tr > td {
  color: grey;
  border: 1px solid lightgrey;
  padding-top: 10px;
  padding-bottom: 10px;
}

.transaction_history > tbody > tr:nth-child(even) {
  background-color: rgb(231, 231, 231);
}

.transaction_history > tbody > tr > td::first-letter {
  text-transform: uppercase;
}

.transaction_history > tbody > tr > td:last-child {
  text-transform: uppercase;
}

